automation/08-soar-fundamentals/data/meridian-workflow.json
{
  "name": "Meridian Incident Playbook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meridian-alert",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "meridian-alert"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://threat-api:8080/api/v3/ip/{{ $json.body.source_ip }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "enrich-ip",
      "name": "Enrich IP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": false},
          "conditions": [
            {
              "id": "malicious-check",
              "leftValue": "={{ $json.verdict }}",
              "rightValue": "malicious",
              "operator": {"type": "string", "operation": "equals"}
            }
          ]
        }
      },
      "id": "verdict-check",
      "name": "Verdict Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ticket-backend:8081/ticket",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "source_ip", "value": "={{ $('Webhook Trigger').item.json.body.source_ip }}"},
            {"name": "verdict", "value": "={{ $('Enrich IP').item.json.verdict }}"},
            {"name": "recommended_action", "value": "escalate"},
            {"name": "alert", "value": "={{ $('Webhook Trigger').item.json.body.alert }}"},
            {"name": "severity", "value": "={{ $('Webhook Trigger').item.json.body.severity }}"},
            {"name": "timestamp", "value": "={{ new Date().toISOString() }}"}
          ]
        },
        "options": {}
      },
      "id": "create-ticket-escalate",
      "name": "Create Ticket (Escalate)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ticket-backend:8081/ticket",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "source_ip", "value": "={{ $('Webhook Trigger').item.json.body.source_ip }}"},
            {"name": "verdict", "value": "={{ $('Enrich IP').item.json.verdict }}"},
            {"name": "recommended_action", "value": "monitor"},
            {"name": "alert", "value": "={{ $('Webhook Trigger').item.json.body.alert }}"},
            {"name": "severity", "value": "={{ $('Webhook Trigger').item.json.body.severity }}"},
            {"name": "timestamp", "value": "={{ new Date().toISOString() }}"}
          ]
        },
        "options": {}
      },
      "id": "create-ticket-monitor",
      "name": "Create Ticket (Monitor)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{"node": "Enrich IP", "type": "main", "index": 0}]]
    },
    "Enrich IP": {
      "main": [[{"node": "Verdict Check", "type": "main", "index": 0}]]
    },
    "Verdict Check": {
      "main": [
        [{"node": "Create Ticket (Escalate)", "type": "main", "index": 0}],
        [{"node": "Create Ticket (Monitor)", "type": "main", "index": 0}]
      ]
    }
  },
  "active": true,
  "settings": {"executionOrder": "v1"},
  "id": "meridian-playbook-v1"
}
